.shop-group {
    margin: 0;
    padding: 0;
    background: #f0f2f5;
    height: 100%;
}
.shop-group .shop-group-item {
    margin-bottom: 10px;
    background: white;
}
.shop-group-item .shop-title {
    height: 35px;
    line-height: 35px;
    border-bottom: solid #ddd;
}
.shop-title .item {
    margin-left: 40px;
    height: 35px;
    line-height: 35px;
}
.customize-shtit.shop-title .item {
    position: relative;
}
.check-wrapper {
    height: 20px;
    width: 20px;
    margin-left: -29px;
    margin-top: 19px;
    display: block;
    position: absolute;
}

.shop-title .check-wrapper{
    margin-top: 2px;
}

.check-wrapper-unit {
    margin-top: -10px;
}
.shop-title-content{
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.shop-title-name {
    font-size: 13px;
    color: #252525;
    margin-top: 1px;
}

.shop-title-detail {
    color: #f15353;
    font-size: 12px;
}
.shp-cart-list{display: block;width: 100%;overflow: hidden;}
.shp-cart-list li, .shp-cart-promotion-list li {
    padding-bottom: 10px;
    border-bottom:1px solid #ddd;
    
}
.shp-cart-list li {
    min-height: 70px;
}
.items {
    text-align: left;
    padding-top: 10px;
}
.shp-cart-list .items, .shp-cart-conditions-span, .shp-cart-item-abstract, .shp-cart-conditions-link, .shp-cart-list .diver-hr-dashed, .shp-cart-list .diver-hr-solid {
    margin-left: 40px;
}
.shp-cart-item-core {
    min-height: 60px;
}
.shop-cart-display.shp-cart-item-core {
    overflow: hidden;
    position: relative;
}
.cart-product-cell-1, .cart-product-cell-additional {
    width: 70px;
    height: 70px;
    display: block;
    float: left;
}
.shop-cart-display .cart-product-cell-1 {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.cart-photo-thumb {
    width: 59px;
    height: 59px;
    border: 1px solid #dddcdc;
    background: url('/order/images/cart/error-jd.gif') no-repeat center center;
    background-size: 25px 10px;
}
.shop-cart-display .cart-product-cell-1 .cart-photo-thumb {
    width: 79px;
    height: 79px;
}
.cart-product-cell-2 {
    min-width: 118px;
    width: 40%;
    float: left;
}
.shop-cart-display .cart-product-cell-2 {
    padding-left: 92px;
    padding-right: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2px;
}
.cart-product-name {
    font-size: 13px;
    line-height: 1.2em;
    color: #666;
    margin-bottom: 5px;
    vertical-align: top;
    height: 2.4em;
}
.shop-cart-display .cart-product-name {
    margin-bottom: 5px;
    height: 30px;
}
.cart-product-name a {
    color: #555;
}
.cart-product-name a span {
    height: 2.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.shop-cart-display .cart-product-name a span {
    height: 31px;
    max-height: 31px;
    font-size: 13px;
    line-height: 15px;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: start;
}
.cart-product-cell-3 {
    width: 80px;
    position: absolute;
    right: 0;
    background: rgba(255,255,255,1);
    white-space: nowrap;
    margin-right: 10px;
    text-align: right;
    margin-top: -2px;
}
.shop-cart-display .cart-product-cell-3 {
    width: auto;
    position: static;
    background: rgba(255,255,255,1);
    text-align: left;
    margin: 0 0 9px 0;
    height: 13px;
    font-size: 13px;
    line-height: 1;
}
.shp-cart-item-price {
    font-size: 13px;
    color: #555;
}
.shop-cart-display .shp-cart-item-price {
    display: inline-block;
    height: 100%;
    vertical-align: text-top;
}
.shop-cart-display .shp-cart-opt {
    height: 24px;
}
.wastebin-container {
    display: inline-block;
    cursor: pointer;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.wastebin {
    display: inline-block;
    cursor: pointer;
}

.wastebin-down {
    background: url(../images/icon-wastebin-del.png) 0 2px no-repeat;
    background-size: 18px 18px;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 1px;
    margin-top: 0px;
}
.quantity-wrapper {
    display: inline-block;
}.quantity-decrease, .quantity, .quantity-increase {
    float: left;
    font-size: 14px;
    text-align: center;
}.quantity-decrease, .quantity-increase {
    background: #fff;
    border: 1px solid #ccc;
    color: #666;
    display: block;
    line-height: 24px;
    width: 32px;
    overflow: hidden;
    text-indent: -200px;
    background: url(../images/shp-cart-icon-sprites.png) no-repeat -15px -20px;
    background-size: 50px 100px;
}.quantity-decrease {
    -webkit-border-radius: 2px 0 0 2px;
    background-position: 10px -20px;
}.quantity-decrease.disabled, .quantity-increase.disabled {
    background-color: #e8e8e8;
    color: #999;
    background-position: 10px -45px;
}
.quantity-decrease, .quantity, .quantity-increase {
    float: left;
    font-size: 14px;
    text-align: center;
}
.quantity {
    color: #333;
    border: solid #ccc;
    border-width: 1px 0 1px 0;
    height: 24px;
    width: 32px;
    border-radius: 0;
}
.customize-qua .quantity, .quantity-wrapper .quantity {
    -webkit-appearance: none;
}
.customize-qua .quantity-decrease, .customize-qua .quantity-increase, .customize-qua .quantity {
    line-height: 22px;
    height: 22px;
    width: 30px;
}

/* 底部固定*/
.payment-total-bar {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    background: #fff;
    bottom: 0;
    border-top: 1px solid #ddd;
}.payment-total-bar-new {
    height: 57px!important;
}.shp-chk {
    width: 38px;
    float: left;
    text-align: center;
    overflow: hidden;
    padding-top: 15px;
}.shp-chk-new {
    width: 50px!important;
    margin-left: 10px;
    margin-top: 5px;
}.shp-cart-info {
    display: block;
    float: left;
    min-width: 200px;
    margin-top: 3px;
}.shp-cart-info-new {
    margin-left: 11px;
}.shp-cart-total {
    margin-top: 6px;
    display: block;
}.payment-total-bar strong, .shp-cart-total span {
    color: #e4393c;
    font-size: 14px;
    font-weight: normal;
}.shp-cart-info-new .shp-cart-total, .shp-cart-total span {
    color: #333!important;
    font-size: 16px;
    margin-top: 7px!important;
}.sale-off-new {
    display: inline-block;
    color: #333!important;
    opacity: .8;
}.payment-total-bar span {
    color: #999;
    font-size: 10px;
}
.sale-off-new span {
    color: #333!important;
    opacity: .8;
}
.btn-right-block {
    display: block;
    width: 70px;
    padding: 0 8px;
    line-height: 50px;
    text-align: center;
    background: #e4393c;
    color: #fff;
    font-size: 14px;
    float: right;
    font-weight: normal;
    position: absolute;
    right: 0;
}.btn-right-block-new {
    width: 100px!important;
    line-height: 60px!important;
    background-color: #f15353!important;
    font-size: 18px!important;
}.btn-right-block span {
    color: #fff;
    font-size: 14px;
}
.p-all-cart {
    padding: 0.714em 0.714em 5em 0.714em;
}
.p-all-weight, .p-freight {
    padding-left: 2.9em;
    font-size: 0.857em;
}
.promo-line {
    margin: 0.714em 0 0.714em 2.5em;
    height: 0;
    border-bottom: 1px solid #dcdcdc;
    line-height: 0;
    overflow: hidden;
    clear: both;
}
.p-all-weight, .p-freight {
    padding-left: 2.9em;
    font-size: 0.857em;
}
.p-freight {
    position: relative;
}
.p-freight b {
    position: absolute;
    left: 1.071em;
    top: 0.178em;
    width: 1.242em;
    height: 1.142em;
    background: url(../images/carticon.png) no-repeat -2.214em 0;
    background-size: 7.142em 7.142em;
}


/*订单结算页面*/
.common-wrapper {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    overflow: hidden;
    margin: 0 auto;
    font-size: 16px;
}
.w-checkout{
	width: 100%;overflow: hidden;
}
.step1 {
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: 0;
    background-color: #fff;
    padding: 1.2em 0;
}
.border-1px {
    position: relative;
}
.border-1px:before, .border-1px:after {
    border-top: 1px solid #e0e0e0;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}a.s-href {
    display: block;
    width: 100%;
    height: 100%;
}.step1 .step1-in .mt_new {
    padding: 0 0 .725em 0;
    overflow: hidden;
    color: #252525;
}
.step1 .step1-in .mc {
    font-size: .8125em;
    color: #686868;
    line-height: 1.325em;
}
.step1 .step1-in-con {
    padding-right: 2.5em;
}
.step1 .s1-name {
    float: left;
    font-size: 1em;
    color: #252525;
}
.step1 .s1-name i {
    width: 1em;
    height: 1em;
    margin:.15em .375em 0 0;
    float: left;
    display: inline-block;
    background: url(../images/ld-sprites.png) no-repeat -42px -245px;
}
.step1 .s1-phone {
    float: left;
    font-size: 1em;
    margin-left: 2.9375em;
}.step1 .s1-phone {
    margin-left: 2.6em;
}.step1 .s1-phone i {
    width: .7em;
    height: 1em;
    display: inline-block;
    margin:.15em .4285714285714286em 0 0;
    float: left;
    background: url(../images/ld-sprites.png) no-repeat -68px -245px;
}.tacitly-lable {
    padding: .2em .6em;
    background: #f15353;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    margin-right: 10px;
}.border-1px:before {
    top: 0;
}
.s-point {
    position: absolute;
    right: .625em;
    top: 50%;
   	width: .5625em;
    height: 1em;
    margin-top: -0.5em;
    background: url(../images/ld-sprites.png) no-repeat -88px -245px;
}
.step1-in{padding-left: 10px;}
.step2, .step3, .step4, .step5 {
    overflow: hidden;
    margin-top: 10px;
    background-color: #fff;
    padding-left: 10px;
}.s-item {
    position: relative;
    padding: .75em 28px .75em 0;
    line-height: 1.2em;
    overflow: hidden;
}.change-p1 {
    padding-top: 15px;
}.step3 .sitem-l {
    width: 60px;
    padding-right: 2.5%;
    float: left;
    text-align: center;
}.step3-more .sitem-l {
    width: 68.4375%;
    overflow: hidden;
    height: 50px;
}.change-p1 .change-h1 {
    height: 71px;
    padding-left: 0;
}.sitem-l .sl-img {
    position: relative;
}.step3 .sitem-l .sl-img {
    width: 3.125em;
    height: 3.125em;
    float: left;
    margin-right: 10px;
}.step3 .change-p1 .sl-img {
    height: 71px;
}.change-p1 .sl-img img {
    display: block;
}.step3 .sitem-l .sl-img img {
    max-width: 100%;
}.step3 .sitem-m {
    float: left;
    width: 9.825em;
    padding-right: .6em;
    width: 53.125%;
    font-size: .875em;
    color: #686868;
}.step3-more .sitem-m {
    width: 12%;
    height: 1em;
    background: url(../images/ld-sprites.png) no-repeat -105px -245px;
    margin-top: 1.6em;
}.step3-more .change-p1 .change-m1 {
    margin-top: 32px;
}.step3 .sitem-r {
    float: right;
    color: #f15353;
    padding-top: 1.25em;
    font-size: .875em;
}.step3-more .sitem-r {
    padding-top: 1.1em;
    color: #252525;
}.step3-more .change-p1 .change-m2 {
    margin-top: 25px;
    padding-top: 0;
}.change-p1 .change-h1 p {
    font-size: 14px;
    display: block;
    height: 14px;
    color: #848689;
    width: 50px;
    text-align: center;
    margin-top: 6px;
}